# .github/workflows/ci.yml

name: C++ CI/CD

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build-and-test:
    name: Build and Test on Ubuntu
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential \
            cmake \
            pkg-config \
            nasm \
            libssl-dev \
            libsecp256k1-dev

      - name: Configure CMake
        run: cmake -B build -S . -DCMAKE_BUILD_TYPE=Debug

      - name: Build project
        run: cmake --build build --parallel

      - name: Run tests
        working-directory: ${{github.workspace}}/build
        run: ctest -C Debug --output-on-failure --verbose
